<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.center.mapper.DistributionMapper">
  <resultMap id="BaseResultMap" type="com.care.center.model.Distribution">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="supply_id" jdbcType="INTEGER" property="supplyId" />
    <result column="add_date" jdbcType="TIMESTAMP" property="addDate" />
  </resultMap>
  <resultMap id="ConnResultMap" type="com.care.center.model.Distribution"  extends="BaseResultMap">
  <!--    一对一关联   extends继承父表字段
          property  一对一关联，该封装对象的属性名
          column  两表关联的字段名
          javaType 一对一关联，父表封装的对象的数据类型，类名-->
    <association property="supply" column="supply_id" javaType="com.care.center.model.Supply">
      <id column="sid" jdbcType="INTEGER" property="supplyId" />
      <result column="fid" jdbcType="INTEGER" property="foodId" />
      <result column="supply_type" jdbcType="VARCHAR" property="supplyType" />
      <result column="supply_week" jdbcType="VARCHAR" property="supplyWeek" />
      <result column="s_add_date" jdbcType="TIMESTAMP" property="addDate" />
      <association property="food" column="food_id" javaType="com.care.center.model.Food">
        <id column="food_id" jdbcType="INTEGER" property="foodId" />
        <result column="food_name" jdbcType="VARCHAR" property="foodName" />
        <result column="food_type" jdbcType="VARCHAR" property="foodType" />
        <result column="food_sign" jdbcType="VARCHAR" property="foodSign" />
        <result column="food_price" jdbcType="DECIMAL" property="foodPrice" />
        <result column="food_photo" jdbcType="VARCHAR" property="foodPhoto" />
        <result column="is_steam" jdbcType="VARCHAR" property="isSteam" />
        <result column="description" jdbcType="VARCHAR" property="description" />
      </association>
    </association>
    <association property="customer" column="cid" javaType="com.care.center.model.Customer">
      <id column="customer_id" jdbcType="VARCHAR" property="cid" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="age" jdbcType="INTEGER" property="age" />
      <result column="sex" jdbcType="VARCHAR" property="sex" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="illness" jdbcType="VARCHAR" property="illness" />
      <result column="notes" jdbcType="VARCHAR" property="notes" />
      <result column="photo" jdbcType="VARCHAR" property="photo" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from distribution
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.care.center.model.Distribution">
    insert into distribution (id, cid, supply_id, 
      add_date)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=VARCHAR}, #{supplyId,jdbcType=INTEGER}, 
      #{addDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.care.center.model.Distribution">
    update distribution
    set cid = #{cid,jdbcType=VARCHAR},
      supply_id = #{supplyId,jdbcType=INTEGER},
      add_date = #{addDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, cid, supply_id, add_date
    from distribution
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, cid, supply_id, add_date
    from distribution
  </select>
  <select id="findAllSupplyAndCustomer" resultMap="ConnResultMap" parameterType="com.care.center.model.Customer">
    select s.supply_id sid, s.food_id fid, s.supply_type, s.supply_week, s.add_date s_add_date,
    f.food_id, f.food_name, f.food_type, f.food_sign, f.food_price,f.food_photo, f.is_steam, f.description,
    ci.cid customer_id, ci.name, ci.age, ci.sex, ci.phone, ci.illness, ci.notes, ci.photo,
    d.id, d.cid, d.supply_id, d.add_date
    from distribution d
    INNER JOIN supply s ON d.supply_id = s.supply_id
    LEFT JOIN food f ON f.food_id = s.food_id
    LEFT JOIN customer ci on ci.cid=d.cid
	where YEARWEEK(date_format(s.add_date,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
    <if test="cid!='' and cid!=null">
      AND ci.cid=#{cid}
    </if>
    <if test="name!=null"><!--模糊查询-->
      AND ci.name LIKE concat(#{name},'%')
    </if>
    <if test="age!=0 and age!='' and age!=null">
      AND ci.age = #{age}
    </if>
    <if test="sex!=null and sex!=''">
      AND ci.sex = #{sex}
    </if>
    <if test="phone!=null and phone!=''">
      AND ci.phone = #{phone}
    </if>
    <if test="illness!=null and illness!=''">
      AND ci.illness = #{illness}
    </if>
    <if test="notes!=null and notes!=''">
      AND ci.notes = #{notes}
    </if>
    <if test="photo!=null and photo!=''">
      AND ci.photo = #{photo}
    </if>
  </select>
</mapper>